header {
  height: 130px;
  text-align: center;
}

.title {
  float: left;
  padding: 20px 30px;
}

.menu {
  float: right;
  padding: 20px 30px;
}

.menu .menu-btn {
  display: inline-block;
  padding: 30px 20px;
}

.menu .menu-btn .hamburger-icon {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 3px;
  background: gray;
}

.menu .menu-btn .hamburger-icon::before,
.menu .menu-btn .hamburger-icon::after {
  content: '';
  position: absolute;
  left: 0;
  width: 30px;
  height: 3px;
  background: gray;
  transition: all .2s ease-out;
}

.menu .menu-btn .hamburger-icon::before {
  top: -10px;
}

.menu .menu-btn .hamburger-icon::after {
  top: 10px;
}

.menu .menu-btn .hamburger-icon.checked {
  background: transparent;
}

.menu .menu-btn .hamburger-icon.checked::before,
.menu .menu-btn .hamburger-icon.checked::after {
  top: 0;
}

.menu .menu-btn .hamburger-icon.checked::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu .menu-btn .hamburger-icon.checked::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu .dropdown-menu {
  position: absolute;
  right: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  max-height: 0;
  background-color: wheat;
  z-index: 1;
  transition: max-height .2s ease-out;
}

.menu .dropdown-menu li {
  font-size: 20px;
  padding: 20px 100px;
}

.menu .dropdown-menu.checked {
  max-height: 250px;
}

.content {
  padding: 20px 30px;
}